body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(0, 170, 0);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.game-container {
  padding: 12px 6px 6px 6px;
  background-color: rgb(0, 110, 0);
  box-shadow: 0px 6px 31px 1px rgba(0, 0, 0, 0.55);
  border-radius: 2px;
}

.grid {
  background-image: url("./green_background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: green;
  min-width: 400px;
  height: 400px;
  border-radius: 2px;
  display: grid;
  grid-template-columns: repeat(40, 10px);
  grid-template-rows: repeat(40, 10px);
}

.tile {
  min-width: 10px;
  height: 10px;
}

.game-info-container {
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.game-info-container span {
  color: white;
}

svg.star {
  color: yellow;
}

svg.heart {
  color: red;
}

h1 {
  font-family: "Righteous", cursive;
  font-size: 70px;
  color: rgb(0, 70, 0);
  text-align: center;
}
