body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(0, 170, 0);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.grid-container {
  background-color: rgb(0, 129, 0);
  box-shadow: 0 1.5rem 4rem rgba(black, 0.15);
}

.grid {
  background-image: url("./green_background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: green;
  min-width: 200px;
  height: 200px;
  border: 3px solid black;
  border-radius: 2px;
  display: grid;
  grid-template-columns: repeat(20, 10px);
  grid-template-rows: repeat(20, 10px);
}

.tile {
  min-width: 10px;
  height: 10px;
}
